<div class="row">
  <div class="col-xs-12">
    <img class="img-responsive" src="" alt="none">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
   <h3>Recipe Name</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" role="group">
      <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Recipe
      </button>
      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <li><a class="dropdown-item" href="#">To Shopping List</a></li>
        <li><a class="dropdown-item" href="#">Edit Recipe</a></li>
        <li><a class="dropdown-item" href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Description</h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Ingredients</h5>
  </div>
</div>

